In [ ]:
# Introduction to Pandas ---->

In [ ]:
# Pandas is an open - source liabrary of python which is used for handle data manipulations.

In [ ]:
# !pip install pandas

In [ ]:
import pandas as pd

In [ ]:
# Data Structure of Pandas :
# 1). Series
# 2). DataFrame

In [ ]:
#  1). Series ----> It is one-dimensional array and it returns only values not column name.

In [ ]:
a = pd.Series([1,45,78,90])
a

0     1
1    45
2    78
3    90
dtype: int64

In [ ]:
# type(a)

In [ ]:
# 2). DataFrame :----> It is multi-dimensional array and it returns values with column name

In [ ]:
#  Task ::: We have create a dataframe of employees in which column are
# emp_id, emp_name, department, salary, working_hours

In [ ]:
a = {
    "Emp_ID"        : ['A101','A102','A103','A104','A105','A106'],
    "Emp_Name"      : ['Sam','Rahul','Ankit','Gourav','Mohit','Karan'],
    "Department"    : ['HR','IT','HR','IT','HR','IT'],
    "Salary"        : [10000,20000,60000,55000,45000,78000],
    "Working_Hours" : [6,8,10,7,8,9]
}

In [ ]:
df = pd.DataFrame(a)

In [ ]:
df

  Emp_ID Emp_Name Department  Salary  Working_Hours
0   A101      Sam         HR   10000              6
1   A102    Rahul         IT   20000              8
2   A103    Ankit         HR   60000             10
3   A104   Gourav         IT   55000              7
4   A105    Mohit         HR   45000              8
5   A106    Karan         IT   78000              9

In [ ]:
#  How can we export our dataframe into CSV data?

In [ ]:
df.to_csv("emp_info.csv")       ### to_csv means export your data into csv file

In [ ]:
df.to_csv("new_emp_info.csv", index=False)    ### index=False mean it will remove unnamed column.

In [ ]:
### How to import csv data using pandas

In [ ]:
df = pd.read_csv("/flipkart_k_phones.csv")

FileNotFoundError: [Errno 2] No such file or directory: '/flipkart_k_phones.csv'

In [ ]:
# df

In [ ]:
df = pd.read_csv("/content/new_emp_info.csv")
# df

FileNotFoundError: [Errno 2] No such file or directory: '/content/new_emp_info.csv'

In [ ]:
# Best Place to Visit in Mussoorie

In [7]:
import pandas as pd
df = pd.read_csv("shoes.csv")

In [8]:
df

   a-size-base-plus a-price-whole  a-offscreen 2
0             Frido         2,498  M.R.P: ₹3,600
1            adidas         3,240  M.R.P: ₹7,999
2      LEATHER NEED         4,250  M.R.P: ₹5,999
3          Columbus         2,229  M.R.P: ₹6,499
4       new balance         3,456  M.R.P: ₹5,499
5              Nike           NaN            NaN
6              Nike           NaN            NaN
7   U.S. POLO ASSN.         2,000  M.R.P: ₹3,999
8            Reebok         2,119  M.R.P: ₹3,999
9          Skechers         4,199  M.R.P: ₹6,999
10             PUMA         4,693  M.R.P: ₹6,999
11             PUMA         2,549  M.R.P: ₹4,999
12             PUMA           NaN            NaN
13         Woodland         3,057  M.R.P: ₹4,295
14             PUMA           NaN            NaN
15         Skechers         2,645  M.R.P: ₹5,499
16             PUMA         3,569  M.R.P: ₹6,999
17             PUMA         3,679  M.R.P: ₹7,999
18             Nike         4,995            NaN
19           Reebok         2,149  M.R.P: ₹4,299
20           Reebok         2,649  M.R.P: ₹4,999
21            SPARX         2,061  M.R.P: ₹3,749
22           Reebok         2,399  M.R.P: ₹3,999
23   Symbol Premium         2,399  M.R.P: ₹5,199
24         Skechers         2,516  M.R.P: ₹3,999
25             PUMA         2,499  M.R.P: ₹5,499
26         Skechers         2,564  M.R.P: ₹4,298
27           Reebok         2,969  M.R.P: ₹4,999
28  U.S. POLO ASSN.         2,000  M.R.P: ₹3,699
29      new balance         4,719  M.R.P: ₹7,999
30         Skechers         2,616  M.R.P: ₹4,499
31             PUMA         3,569  M.R.P: ₹6,999
32         Skechers         4,269  M.R.P: ₹6,999
33             PUMA         3,919  M.R.P: ₹6,999
34         Woodland         2,463  M.R.P: ₹3,295
35  U.S. POLO ASSN.         2,476  M.R.P: ₹4,799
36             PUMA         2,499  M.R.P: ₹5,499
37         Woodland         2,079  M.R.P: ₹3,895
38  U.S. POLO ASSN.         2,160  M.R.P: ₹3,599
39             PUMA         2,999            NaN
40         Skechers         3,749  M.R.P: ₹7,499
41      new balance         1,681  M.R.P: ₹4,699
42             PUMA         3,569  M.R.P: ₹6,999
43             PUMA           NaN            NaN
44         Skechers         2,325  M.R.P: ₹3,999
45  U.S. POLO ASSN.         2,760  M.R.P: ₹4,599
46         Skechers         3,599  M.R.P: ₹5,999
47             PUMA         2,364  M.R.P: ₹5,499
48            ASICS         2,159  M.R.P: ₹4,999
49  U.S. POLO ASSN.         2,000  M.R.P: ₹3,699
50      new balance         4,800  M.R.P: ₹9,999
51         Woodland         3,707  M.R.P: ₹4,295
52         Woodland         3,117  M.R.P: ₹3,995
53             PUMA         2,289  M.R.P: ₹4,499
54           adidas         2,499  M.R.P: ₹4,799
55  U.S. POLO ASSN.         2,474  M.R.P: ₹3,299
56             XTEP         3,579  M.R.P: ₹5,599
57   Symbol Premium         2,199  M.R.P: ₹5,999
58           Reebok         2,184  M.R.P: ₹3,799
59           Reebok         4,179  M.R.P: ₹7,599

In [ ]:
#  Shoes 2000 to 5000

In [10]:
df = pd.read_csv("mussoorie_places.csv")

In [11]:
df

,name,type,short_description,best_time,nearby,source
0,Lal Tibba,Viewpoint,Highest point in Mussoorie with panoramic Hima...,Oct–Mar,Landour,TripAdvisor / Holidify
1,Kempty Falls,Waterfall,Popular 40 ft waterfall and picnic spot.,Mar–Oct,Kempty,MakeMyTrip / Holidify
2,Gun Hill,Viewpoint/Attraction,Second-highest point; reachable by cable car w...,All year,Mall Road,Holidify / TarangiResort
3,Mall Road,Shopping/Promenade,"Main promenade lined with shops, eateries and ...",All year,Town centre,MakeMyTrip / Holidify
4,Camel's Back Road,Scenic Walk/Trek,Scenic ridge walk offering views of the Doon v...,Oct–Mar,Mall Road,Holidify
5,Company Garden,Garden/Family,Picturesque garden with boating and flower bed...,Mar–Oct,Near Mall Road,MakeMyTrip
6,Mussoorie Lake,Lake/Boating,Small lake with boating and short treks nearby.,Mar–Oct,Bandel,Holidify
7,Cloud's End,Forest/Scenic Point,Westernmost point of the town with dense fores...,All year,Jharipani,Euttaranchal / Holidify
8,"Landour (Char Dukan, Clock Tower)",Heritage Neighbourhood,"Quaint British-era cantonment area with cafes,...",All year,Lal Tibba,TripAdvisor / StampedMoments
9,George Everest House / Jharipani Falls,Viewpoint/Waterfall,Historical surveyor's house and nearby waterfa...,Oct–Mar,6 km from Mussoorie,Uttarakhand Tourism / Euttaranchal